.img_cadre{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cadre{
  position: relative;
  margin-bottom: 40%;
  height: 87%;
  width: 87%;
  @media screen and (max-width: 760px) {
    margin-bottom: 5%;
}
}

.titre_cadre{
  position: absolute;
  color: white;
  z-index: 10;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
}